*.rar
*.so
/platforms
/Workspace/run/*/0.*
/Workspace/run/*/postProcessing
/Workspace/run/*/*/postProcessing
.*.swp
.DS_Store
/Workspace/*.txt
/Workspace/run/*/python/T-*.png
/Workspace/run/*/python/p-*.png
/Workspace/run/*/python/U-*.png
/Workspace/run/*/*/logs
*.avi
